@import "../shared/main.scss";

.foodCard {
  background-color: $bg;
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 292px));
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $lightGrey01;

  @media (max-width: $md-max-width) {
    grid-template-columns: repeat(3, minmax(220px, 292px));
  }

  @media (max-width: $sm-max-width) {
    grid-template-columns: repeat(2, minmax(160px, 260px));
  }

  @media (max-width: $xs-max-width) {
    grid-template-columns: repeat(2, minmax(120px, 220px));
  }

  &-newTag {
    color: $secondary;
  }

  > div {
    width: 100%;
    border-radius: 16px;
    height: max-content;
    box-shadow: 4px 4px 4px rgba(166, 164, 164, 0.1);
    background-color: white;
  }
  &-nameBlock {
    font-size:$SubtitleSize;
    font-weight: 700;
    padding: 8px 16px;
    color: black;
  }
  &-image {
    background-position: center;
    background-size: cover;
    height: fit-content;
    aspect-ratio: 292/180;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
  }
  &-detailBlock {
    padding: 8px 16px 16px;
    font-size: $smallFontSize;
    font-weight: 400;
    display: flex;

    @media (max-width: $xs-max-width) {
      flex-direction: column;
      gap: 4px;
    }

    > div {
      background-color: $bg;
      padding: 4px;
      margin-right: 8px;
    }
  }
  &-star {
    padding-right: 4px;
  }
}
